ollama==0.4.4
streamlit==1.40.0
pdfplumber==0.11.4
langchain==0.3.14
langchain-core==0.3.29
langchain-ollama==0.2.2
langchain_community==0.3.14
langchain_text_splitters==0.3.5
unstructured==0.16.12
unstructured[all-docs]==0.16.12
onnx==1.17.0
protobuf==3.20.3
chromadb==0.4.22
Pillow==10.4.0
numpy==1.26.4